@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  line-height: 1rem;
}

input:focus,
button:focus {
  outline: none;
}

/* .n_btn{

        } */

/* 隱藏input number的難看上下箭頭 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* 讓input和textarea輸入的內容距離邊框4px */
input,textarea {
  text-indent: 4px;
}
button:focus,input:focus,textarea:focus{
    outline:none
}
    