.carousel {
  position: relative;
}
.carousel-item img{
  height: 80vh;
}
.slider{
  position: relative;
  height: 100%;
}
.carousel .ad {
  width: 500px;
  position: absolute;
  left: 20%;
  top: 30%;
  color: #fff;
  /* background-color: white; */
}
.carousel h3 {
  padding: 0 0 10px;
  font-size: 30px;
  line-height: 35px;
  color: #00ffb7;
  font-family: "Noto Sans TC", sans-serif;
}
.carousel p {
  padding: 3px;
  line-height: 22px;
  font-family: "Noto Sans TC", sans-serif;
}

/*搜尋*/
.search_trainer {
  position: absolute;
  top: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.search_trainer li {
  margin: 0px 10px;
}
.search_trainer select {
  width: 150px;
}
.search_trainer select,
.search_input,
.search_btn {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
  vertical-align: baseline;
}
.search_btn {
  padding: 20px 30px; 
}
.search_trainer .search_input {
  width: 200px;
}
.search_trainer .search_btn {
  background-color: #59ddb8;
  color: #fff;
  /* font-weight: bold; */
  font-family: "Noto Sans TC", sans-serif;
  cursor: pointer;
}
.search_trainer .search_btn:hover {
  padding: 19px 29px;
  color: rgb(5, 230, 192);
  background-color: #fff;
  border: 1px solid #59ddb8;
}

/* @media screen and (min-width: 768px) {
    
} */

.new{
  position: relative;
  height: calc(100vh - 80vh);
  background-color: #21d4a7;
  display: flex;
  justify-content: center;
  align-items: center;
}
